/****** Object:  Database [IndustrieSymbioseDB]    Script Date: 09/03/2026 13:25:52 ******/
CREATE DATABASE [IndustrieSymbioseDB]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[post_address]    Script Date: 09/03/2026 13:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address_record_1] [nvarchar](50) NULL,
	[address_record_2] [nvarchar](50) NULL,
	[street] [nvarchar](100) NULL,
	[house_number] [nvarchar](5) NULL,
	[postcode] [nvarchar](5) NULL,
	[city] [nvarchar](50) NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enterprise]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enterprise](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[fk_address] [int] NULL,
 CONSTRAINT [PK_enterprise] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [fk_address] UNIQUE NONCLUSTERED 
(
	[fk_address] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[enterprise_address_view]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[enterprise_address_view]
AS
SELECT e.id as enterprise_id, e.name, p.address_record_1, p.address_record_2, p.street, p.house_number, p.postcode, p.city
FROM enterprise as e
JOIN post_address as p
ON e.fk_address = p.id
GO
/****** Object:  Table [dbo].[production_facility]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_facility](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[fk_enterprise] [int] NOT NULL,
	[fk_post_address] [int] NOT NULL,
 CONSTRAINT [PK_production_facility] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[production_facility_view]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[production_facility_view]
AS
SELECT f.id as production_facility_id, f.fk_enterprise as enterprise_id, f.name, p.address_record_1, p.address_record_2, p.street, p.house_number, p.postcode, p.city
FROM production_facility as f
JOIN post_address as p
ON f.fk_post_address = p.id
GO
/****** Object:  Table [dbo].[stream]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stream](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fk_production_line_process] [int] NOT NULL,
	[is_input] [bit] NOT NULL,
	[fk_material] [int] NULL,
	[fk_energy_source] [int] NULL,
	[amount] [int] NOT NULL,
	[interval] [int] NOT NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
	[is_private] [bit] NULL,
 CONSTRAINT [PK_stream] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_line]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_line](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fk_production_facility] [int] NOT NULL,
	[name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_production_line] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_line_process]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_line_process](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fk_production_line] [int] NOT NULL,
	[name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_production_line_process] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[stream_enterprise_id]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[stream_enterprise_id]
AS
SELECT        dbo.stream.id AS stream_id, production_line_process.id AS production_line_process_id, production_line.id AS production_line_id, production_facility.id AS production_facility_id, enterprise.id AS enterprise_id
FROM            dbo.stream LEFT OUTER JOIN
                         dbo.production_line_process ON stream.fk_production_line_process = production_line_process.id LEFT OUTER JOIN
                         dbo.production_line ON production_line_process.fk_production_line = production_line.id LEFT OUTER JOIN
                         dbo.production_facility ON production_line.fk_production_facility = production_facility.id LEFT OUTER JOIN
                         dbo.enterprise ON production_facility.fk_enterprise = enterprise.id
GO
/****** Object:  Table [dbo].[stream_match]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stream_match](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fk_input_stream] [int] NULL,
	[fk_output_stream] [int] NULL,
	[amount] [int] NOT NULL,
	[start_date] [smalldatetime] NULL,
	[end_date] [smalldatetime] NULL,
	[fk_proposing_party] [int] NOT NULL,
	[price_proposal] [nvarchar](50) NULL,
	[comment] [text] NULL,
	[fk_status] [int] NOT NULL,
	[creation_date] [smalldatetime] NOT NULL,
	[update_date] [smalldatetime] NULL,
 CONSTRAINT [PK_stream_match] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[stream_unmatched]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[stream_unmatched] AS
SELECT *
FROM stream s
WHERE NOT EXISTS
    (
        SELECT 1
        FROM stream_match sm
        WHERE (s.id = sm.fk_input_stream OR s.id = sm.fk_output_stream) AND (fk_status = 1)
    );
GO
/****** Object:  Table [dbo].[energy_source]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[energy_source](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[renewable_share] [decimal](3, 2) NULL,
	[is_intern] [bit] NOT NULL,
	[fk_enterprise] [int] NULL,
 CONSTRAINT [PK_energy_source] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[unit] [nvarchar](20) NOT NULL,
	[is_emission] [bit] NOT NULL,
 CONSTRAINT [PK_material] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[stream_view]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[stream_view]
AS
SELECT        s.id, s.is_input, s.amount, s.interval, m.name AS material_name, m.unit, m.is_emission, e.name AS energy_source_name, e.renewable_share, e.is_intern, s.fk_energy_source, s.fk_material, s.fk_production_line_process, 
                         s.is_private
FROM            dbo.stream AS s LEFT OUTER JOIN
                         dbo.material AS m ON s.fk_material = m.id LEFT OUTER JOIN
                         dbo.energy_source AS e ON s.fk_energy_source = e.id
GO
/****** Object:  Table [dbo].[enterprise_user]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enterprise_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[fk_enterprise] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stream_flow_data]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stream_flow_data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fk_input_stream] [int] NULL,
	[fk_output_stream] [int] NULL,
	[amount] [int] NOT NULL,
	[timestamp] [smalldatetime] NULL,
	[fk_stream_match] [int] NULL,
 CONSTRAINT [PK_stream_flow_data] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stream_match_status]    Script Date: 09/03/2026 13:25:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stream_match_status](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_stream_match_status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[energy_source]  WITH CHECK ADD FOREIGN KEY([fk_enterprise])
REFERENCES [dbo].[enterprise] ([id])
GO
ALTER TABLE [dbo].[enterprise]  WITH CHECK ADD  CONSTRAINT [FK_enterprise_address] FOREIGN KEY([fk_address])
REFERENCES [dbo].[post_address] ([id])
GO
ALTER TABLE [dbo].[enterprise] CHECK CONSTRAINT [FK_enterprise_address]
GO
ALTER TABLE [dbo].[enterprise_user]  WITH CHECK ADD  CONSTRAINT [FK_user_enterprise] FOREIGN KEY([fk_enterprise])
REFERENCES [dbo].[enterprise] ([id])
GO
ALTER TABLE [dbo].[enterprise_user] CHECK CONSTRAINT [FK_user_enterprise]
GO
ALTER TABLE [dbo].[production_facility]  WITH CHECK ADD  CONSTRAINT [FK_production_facility_enterprise] FOREIGN KEY([fk_enterprise])
REFERENCES [dbo].[enterprise] ([id])
GO
ALTER TABLE [dbo].[production_facility] CHECK CONSTRAINT [FK_production_facility_enterprise]
GO
ALTER TABLE [dbo].[production_facility]  WITH CHECK ADD  CONSTRAINT [FK_production_facility_post_address] FOREIGN KEY([fk_post_address])
REFERENCES [dbo].[post_address] ([id])
GO
ALTER TABLE [dbo].[production_facility] CHECK CONSTRAINT [FK_production_facility_post_address]
GO
ALTER TABLE [dbo].[production_line]  WITH CHECK ADD  CONSTRAINT [FK_production_line_production_facility] FOREIGN KEY([fk_production_facility])
REFERENCES [dbo].[production_facility] ([id])
GO
ALTER TABLE [dbo].[production_line] CHECK CONSTRAINT [FK_production_line_production_facility]
GO
ALTER TABLE [dbo].[production_line_process]  WITH CHECK ADD  CONSTRAINT [FK_production_line_process_production_line] FOREIGN KEY([fk_production_line])
REFERENCES [dbo].[production_line] ([id])
GO
ALTER TABLE [dbo].[production_line_process] CHECK CONSTRAINT [FK_production_line_process_production_line]
GO
ALTER TABLE [dbo].[stream]  WITH CHECK ADD  CONSTRAINT [FK_stream_energy_source] FOREIGN KEY([fk_energy_source])
REFERENCES [dbo].[energy_source] ([id])
GO
ALTER TABLE [dbo].[stream] CHECK CONSTRAINT [FK_stream_energy_source]
GO
ALTER TABLE [dbo].[stream]  WITH CHECK ADD  CONSTRAINT [FK_stream_material] FOREIGN KEY([fk_material])
REFERENCES [dbo].[material] ([id])
GO
ALTER TABLE [dbo].[stream] CHECK CONSTRAINT [FK_stream_material]
GO
ALTER TABLE [dbo].[stream]  WITH CHECK ADD  CONSTRAINT [FK_stream_production_line_process] FOREIGN KEY([fk_production_line_process])
REFERENCES [dbo].[production_line_process] ([id])
GO
ALTER TABLE [dbo].[stream] CHECK CONSTRAINT [FK_stream_production_line_process]
GO
ALTER TABLE [dbo].[stream_flow_data]  WITH CHECK ADD  CONSTRAINT [FK_stream_flow_data_stream] FOREIGN KEY([fk_input_stream])
REFERENCES [dbo].[stream] ([id])
GO
ALTER TABLE [dbo].[stream_flow_data] CHECK CONSTRAINT [FK_stream_flow_data_stream]
GO
ALTER TABLE [dbo].[stream_flow_data]  WITH CHECK ADD  CONSTRAINT [FK_stream_flow_data_stream1] FOREIGN KEY([fk_output_stream])
REFERENCES [dbo].[stream] ([id])
GO
ALTER TABLE [dbo].[stream_flow_data] CHECK CONSTRAINT [FK_stream_flow_data_stream1]
GO
ALTER TABLE [dbo].[stream_match]  WITH CHECK ADD  CONSTRAINT [FK_stream_match_enterprise_user] FOREIGN KEY([fk_proposing_party])
REFERENCES [dbo].[enterprise_user] ([id])
GO
ALTER TABLE [dbo].[stream_match] CHECK CONSTRAINT [FK_stream_match_enterprise_user]
GO
ALTER TABLE [dbo].[stream_match]  WITH CHECK ADD  CONSTRAINT [FK_stream_match_stream] FOREIGN KEY([fk_input_stream])
REFERENCES [dbo].[stream] ([id])
GO
ALTER TABLE [dbo].[stream_match] CHECK CONSTRAINT [FK_stream_match_stream]
GO
ALTER TABLE [dbo].[stream_match]  WITH CHECK ADD  CONSTRAINT [FK_stream_match_stream_match_status] FOREIGN KEY([fk_status])
REFERENCES [dbo].[stream_match_status] ([id])
GO
ALTER TABLE [dbo].[stream_match] CHECK CONSTRAINT [FK_stream_match_stream_match_status]
GO
ALTER TABLE [dbo].[stream_match]  WITH CHECK ADD  CONSTRAINT [FK_stream_match_stream1] FOREIGN KEY([fk_output_stream])
REFERENCES [dbo].[stream] ([id])
GO
ALTER TABLE [dbo].[stream_match] CHECK CONSTRAINT [FK_stream_match_stream1]
GO
