################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Backend/UserManagementService/.vs
/Backend/UserManagementService/IndustrieSymbiosisBackend/obj
/Backend/UserManagementService/IndustrieSymbiosisBackend/bin/Debug/netcoreapp3.1
