################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Backend/UserManagementService/.vs
/Backend/UserManagementService/IndustrieSymbiosisBackend/obj
/Backend/UserManagementService/IndustrieSymbiosisBackend/bin/Debug/netcoreapp3.1
IndustrySymbiosisBackend/.vs/IndustrySymbiosisBackend/xs/project-cache/UserManagement-Debug.json
IndustrySymbiosisBackend/.vs/IndustrySymbiosisBackend/xs/UserPrefs.xml
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagement.AssemblyInfo.cs
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagement.AssemblyInfoInputs.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagement.assets.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagement.csproj.AssemblyReference.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagement.GeneratedMSBuildEditorConfig.editorconfig
IndustrySymbiosisBackend/UserManagement/obj/project.assets.json
IndustrySymbiosisBackend/UserManagement/obj/project.nuget.cache
IndustrySymbiosisBackend/UserManagement/obj/UserManagement.csproj.nuget.dgspec.json
IndustrySymbiosisBackend/UserManagement/obj/UserManagement.csproj.nuget.g.props
IndustrySymbiosisBackend/UserManagement/obj/UserManagement.csproj.nuget.g.targets
IndustrySymbiosisBackend/.vs/IndustrySymbiosisBackend/xs/project-cache/EnterpriseManagement-Debug.json
IndustrySymbiosisBackend/.vs/IndustrySymbiosisBackend/xs/project-cache/EnterpriseManagementService-Debug.json
IndustrySymbiosisBackend/.vs/IndustrySymbiosisBackend/xs/project-cache/UserManagementService-Debug.json
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagement.AssemblyInfo.cs
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagement.AssemblyInfoInputs.cache
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagement.assets.cache
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagement.csproj.AssemblyReference.cache
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagement.GeneratedMSBuildEditorConfig.editorconfig
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagementService.AssemblyInfo.cs
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagementService.AssemblyInfoInputs.cache
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagementService.assets.cache
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagementService.csproj.AssemblyReference.cache
IndustrySymbiosisBackend/EnterpriseManagement/obj/Debug/netcoreapp3.1/EnterpriseManagementService.GeneratedMSBuildEditorConfig.editorconfig
IndustrySymbiosisBackend/EnterpriseManagement/obj/EnterpriseManagement.csproj.nuget.dgspec.json
IndustrySymbiosisBackend/EnterpriseManagement/obj/EnterpriseManagement.csproj.nuget.g.props
IndustrySymbiosisBackend/EnterpriseManagement/obj/EnterpriseManagement.csproj.nuget.g.targets
IndustrySymbiosisBackend/EnterpriseManagement/obj/EnterpriseManagementService.csproj.nuget.dgspec.json
IndustrySymbiosisBackend/EnterpriseManagement/obj/EnterpriseManagementService.csproj.nuget.g.props
IndustrySymbiosisBackend/EnterpriseManagement/obj/EnterpriseManagementService.csproj.nuget.g.targets
IndustrySymbiosisBackend/EnterpriseManagement/obj/project.assets.json
IndustrySymbiosisBackend/EnterpriseManagement/obj/project.nuget.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagementService.AssemblyInfo.cs
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagementService.AssemblyInfoInputs.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagementService.assets.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagementService.csproj.AssemblyReference.cache
IndustrySymbiosisBackend/UserManagement/obj/Debug/netcoreapp3.1/UserManagementService.GeneratedMSBuildEditorConfig.editorconfig
IndustrySymbiosisBackend/UserManagement/obj/UserManagementService.csproj.nuget.dgspec.json
IndustrySymbiosisBackend/UserManagement/obj/UserManagementService.csproj.nuget.g.props
IndustrySymbiosisBackend/UserManagement/obj/UserManagementService.csproj.nuget.g.targets
.DS_Store
IndustrySymbiosisBackend/UserManagementService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IndustrySymbiosisBackend/UserManagementService/obj/Debug/netcoreapp3.1/UserManagementService.AssemblyInfo.cs
IndustrySymbiosisBackend/UserManagementService/obj/Debug/netcoreapp3.1/UserManagementService.AssemblyInfoInputs.cache
IndustrySymbiosisBackend/UserManagementService/obj/Debug/netcoreapp3.1/UserManagementService.assets.cache
IndustrySymbiosisBackend/UserManagementService/obj/Debug/netcoreapp3.1/UserManagementService.csproj.AssemblyReference.cache
IndustrySymbiosisBackend/UserManagementService/obj/Debug/netcoreapp3.1/UserManagementService.GeneratedMSBuildEditorConfig.editorconfig
IndustrySymbiosisBackend/UserManagementService/obj/project.assets.json
IndustrySymbiosisBackend/UserManagementService/obj/project.nuget.cache
IndustrySymbiosisBackend/UserManagementService/obj/UserManagementService.csproj.nuget.dgspec.json
IndustrySymbiosisBackend/UserManagementService/obj/UserManagementService.csproj.nuget.g.props
IndustrySymbiosisBackend/UserManagementService/obj/UserManagementService.csproj.nuget.g.targets
IndustrySymbiosisBackend/EnterpriseManagementService/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
IndustrySymbiosisBackend/EnterpriseManagementService/obj/Debug/netcoreapp3.1/EnterpriseManagementService.AssemblyInfo.cs
IndustrySymbiosisBackend/EnterpriseManagementService/obj/Debug/netcoreapp3.1/EnterpriseManagementService.AssemblyInfoInputs.cache
IndustrySymbiosisBackend/EnterpriseManagementService/obj/Debug/netcoreapp3.1/EnterpriseManagementService.assets.cache
IndustrySymbiosisBackend/EnterpriseManagementService/obj/Debug/netcoreapp3.1/EnterpriseManagementService.csproj.AssemblyReference.cache
IndustrySymbiosisBackend/EnterpriseManagementService/obj/Debug/netcoreapp3.1/EnterpriseManagementService.GeneratedMSBuildEditorConfig.editorconfig
IndustrySymbiosisBackend/EnterpriseManagementService/obj/EnterpriseManagementService.csproj.nuget.dgspec.json
IndustrySymbiosisBackend/EnterpriseManagementService/obj/EnterpriseManagementService.csproj.nuget.g.props
IndustrySymbiosisBackend/EnterpriseManagementService/obj/EnterpriseManagementService.csproj.nuget.g.targets
IndustrySymbiosisBackend/EnterpriseManagementService/obj/project.assets.json
IndustrySymbiosisBackend/EnterpriseManagementService/obj/project.nuget.cache
