<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5ffa8c85-1f22-4cd5-80fe-3a9e2988a906/resourceGroups/IndustrySymbioses/providers/Microsoft.Web/sites/MatchingService</ResourceId>
    <ResourceGroup>IndustrySymbioses</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://matchingservice.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://matchingservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$MatchingService</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>